<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Acerca de...">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-content>
    <div class="col col-center">
      <div class="list list-inset">
        <ion-item class="item-text-wrap">
          <h2>Aplicación desarrollada como proyecto para la Especialización en Desarrollo de Aplicaciones para Dispositivos Móviles</h2>
        </ion-item>
        <ion-item class="item-text-wrap">
          <h2>Contacto</h2>
          <p>jaariasme@gmail.com</p>
        </ion-item>
        <ion-item class="item-text-wrap">
          <img src="img/sena.jpg" style="width: 100%;" />
        </ion-item>
      </div>
    </div>
  </ion-content>
</ion-view>
