<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Mis Checkins">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
    <div class="bar bar-subheader subtitulo">
      <p class="subtitulo1">{{total}}</p>
    </div>
    <ion-content class="has-subheader padding">
      <div class="card" ng-if="!checkins.length">
          <div class="item item-text-wrap" style="text-align:center;">
          Vaya! No has registrado ningun Check-In, registra tus Check-Ins cuando estés en los establecimentos para que puedas calificarlos.
          </div>
      </div>
          <ion-list>
            <ion-item class="item-thumbnail-right item-text-wrap" ng-repeat="checkin in checkins">
                <img ng-src="http://appmovil.joalar.com/web/img/establecimientos/{{checkin.Icono}}">
                <h2>{{checkin.Fecha}}</h2>
                <p>{{checkin.Nombre}} - {{checkin.Direccion}}</p>
                <p ng-if="checkin.Puntaje == 1"><b>Satisfecho</b></p>
                <p ng-if="checkin.Puntaje == 2"><b>Conforme</b></p>
                <p ng-if="checkin.Puntaje == 3"><b>Insatisfecho</b></p>
                <p ng-if="checkin.Observaciones != null">{{checkin.Observaciones}}</p>
                <button class="button button-small button-assertive" ui-sref="app.rate({id: checkin.id})" ng-if="checkin.Puntaje == null">Calificar</button>
            </ion-item>
          </ion-list>
  </ion-content>
</ion-view>
