<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Establecimiento">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="volver()">Volver</button>
  </ion-nav-buttons>
  <ion-tabs class="tabs-assertive tabs-icon-top">

      <ion-tab title="Información" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
        <ion-content class="listatabs">
          <ion-list>
            <ion-item class="item-thumbnail-left item-button-right item-text-wrap">
              <img ng-src="http://appmovil.joalar.com/web/img/establecimientos/{{info.Icono}}">
              <h2>{{info.Nombre}}</h2>
              <button class="button button-assertive" ng-click="showConfirm()">
                <i class="icon ion-location"></i>
              </button>
            </ion-item>
            <ion-item class="item-divider">
              Datos de Contacto
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap">
              <i class="icon ion-home"></i>
              <p>{{info.Direccion}}</p>
            </ion-item>
            <ion-item class="item-icon-left">
              <i class="icon ion-android-call"></i>
              <p>{{info.Telefono}}</p>
            </ion-item>
            <ion-item class="item-icon-left">
              <i class="icon ion-email"></i>
              <p>{{info.Email}}</p>
            </ion-item>
            <ion-item class="item-divider">
              Servicios
            </ion-item>
            <ion-item>
              <div ng-repeat="servicio in servicios" class="buttonServicio">
                <img ng-src="http://appmovil.joalar.com/web/img/imgprodserv/{{servicio.Imagen}}" style="height: 40px;"
                    class="tooltip" title="<b>{{servicio.Nombre}}</b><br>{{servicio.Descripcion}}">
              </div>
            </ion-item>
            <ion-item class="item-divider">
              Mapa
            </ion-item>
            <ion-item class="mapa">
              <div id="map" data-tap-disabled="true" ></div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="Precios" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-content class="listatabs">
          <ion-list class="list-inset">
            <ion-item class="item-thumbnail-right item-text-wrap" ng-repeat="producto in productos">
                <img ng-src="http://appmovil.joalar.com/web/img/imgprodserv/{{producto.Imagen}}">
                <h2>{{producto.Nombre}} - {{producto.Precio}}</h2>
                <p>{{producto.Descripcion}}</p>
                <p>{{producto.Categoria}}</p>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="Galerías" icon-on="ion-ios-photos" icon-off="ion-ios-photos-outline">
        <ion-content class="listatabs">
          <ion-list class="list-inset">
            <ion-item ng-repeat="galeria in galerias">
              <h2>{{galeria.titulo}}</h3>
              <ion-gallery ion-gallery-items="galeria.imagenes"></ion-gallery>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

  </ion-tabs>
</ion-view>
