<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Establecimiento">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="volver()">Volver</button>
  </ion-nav-buttons>

  <ion-tabs class="tabs-assertive tabs-icon-top">

      <ion-tab title="Información" icon-on="ion-ios-information" icon-off="ion-ios-information-outline">
        <ion-content class="listatabs">
          <ion-list>
            <ion-item class="item-thumbnail-left item-button-right item-text-wrap">
              <img ng-src="http://appmovil.joalar.com/web/img/establecimientos/52crew3.jpg">
              <h2>Establecimiento X</h2>
              <button class="button button-assertive" ng-click="openModal()">
                <i class="icon ion-location"></i>
              </button>
            </ion-item>
            <ion-item class="item-divider">
              Datos de Contacto
            </ion-item>
            <ion-item class="item-icon-left item-text-wrap">
              <i class="icon ion-home"></i>
              <p>Calle falsa 123</p>
            </ion-item>
            <ion-item class="item-icon-left">
              <i class="icon ion-android-call"></i>
              <p>123456</p>
            </ion-item>
            <ion-item class="item-icon-left">
              <i class="icon ion-email"></i>
              <p>prueba@prueba.com</p>
            </ion-item>
            <ion-item class="item-divider">
              Servicios
            </ion-item>
            <ion-item>
              Iconos
            </ion-item>
            <ion-item class="item-divider">
              Mapa
            </ion-item>
            <ion-item>
              <div id="map" data-tap-disabled="true"></div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-tab>

      <ion-tab title="Precios" icon-on="ion-ios-list" icon-off="ion-ios-list-outline">
        <ion-content class="listatabs">
          <p>Contenido 2</p>
        </ion-content>
      </ion-tab>

      <ion-tab title="Galerías" icon-on="ion-ios-photos" icon-off="ion-ios-photos-outline">
        <ion-content class="listatabs">
          <p>Contenido 3</p>
        </ion-content>
      </ion-tab>

  </ion-tabs>
</ion-view>
<script id="modal.html" type="text/ng-template">
  <ion-modal-view class="modalCustomConfirm">
    <ion-content class="padding" style="text-align: center;">
      <h3>Deseas hacer check-in en</h3>
      <h4>Al hacer check-in en este establecimiento podras calificar luego tu experiencia</h4>
    </ion-content>
    <ion-footer-bar class="bar-assertive">
      <div class="button-bar">
        <a class="button" ng-click="closeModal()">Aceptar</a>
        <a class="button" ng-click="closeModal()">Cancelar</a>
      </div>
    </ion-footer-bar>
  </ion-modal-view>
</script>
