<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Rumbero Movil">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon" menu-toggle="left"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button icon ion-search" ng-click="search()"></button>
  </ion-nav-buttons>
  <div class="bar bar-subheader subtitulo">
    <p class="subtitulo">Que haremos hoy?</p>
  </div>
  <ion-content class="has-subheader">
  <div class="list-card">
  <div class="item advanced-background" ng-click="searchRumba()" >
       <div class="itemRumba itemRoot">
          <p class="advanced-background-title">Rumba con Amigos</p>
     </div>
  </div>
  <div class="item advanced-background" ng-click="searchCopa()" >
       <div class="itemCoctel itemRoot">
          <p class="advanced-background-title">Una Copa</p>
       </div>
  </div>
  <div class="item advanced-background" ng-click="searchEspecial()" >
       <div class="itemEspecial itemRoot">
          <p class="advanced-background-title">Fecha Especial</p>
       </div>
  </div>
  <div class="item advanced-background" ng-click="searchMusica()" >
       <div class="itemMusica itemRoot">
          <p class="advanced-background-title">Escuchar Música</p>
       </div>
  </div>
  </div>
  </ion-content>
</ion-view>
