<ion-nav-bar>
</ion-nav-bar>
<ion-view title="Iniciar Sesión">
  <ion-nav-buttons side="left">
    <button class="button icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-nav-buttons side="right">
    <button class="button" ng-click="volver()">Volver</button>
  </ion-nav-buttons>
  <ion-content>
    <div class="col col-center">
    <div class="list list-inset" style="text-align: center;">
      <label class="item item-input item-stacked-label">
        <span class="input-label">E-mail</span>
        <input type="email" placeholder="ejemplo@ejemplo.com">
      </label>
      <button class="item button button-assertive button-block">Acceder</button>
      <button class="item button button-assertive button-block">Registrarse</button>
    </div>
  </div>
  </ion-content>
</ion-view>
