/* Empty. Add your own CSS if you like */
@font-face {
  font-family: 'Custom';
  src: url(../fonts/Sansation_Regular.ttf) format('truetype'); }

p.subtitulo{
  font-family: Custom;
  text-shadow: 2px 1px #8c8c8c;
  color: #ff0000;
  font-size: 1.7em;
  width: 100%;
  font-weight: bold;
  text-align: center;
  margin-top: 4px;
}

p.subtitulo1{
  font-family: Custom;
  text-shadow: 1px 1px #8c8c8c;
  font-size: 1.0em;
  width: 100%;
  font-weight: bold;
  margin-top: 4px;
  margin-left: 5px;
}

div.subtitulo{
  border: none !important;
  height: 37px;
  background-color: #fff5db;
}

.has-subheader {
  top: 83px;
}

ion-view {
  background-color: #fff5db !important;
}

/* Clases de los cards del home*/
div.itemRoot{
  background-position: center;
	height: 180px;
}

div.itemRumba:hover{
  opacity: 0.7;
}

div.itemRumba{
	background-image: url('../img/rumba.jpg');
}

div.itemRumba p.advanced-background-title{
  color: #db3bf5 !important;
}

div.itemCoctel:hover{
  opacity: 0.7;
}

div.itemCoctel{
	background-image: url('../img/coctel.jpg');
  color: #ff6767 !important;
}

div.itemCoctel p.advanced-background-title{
  color: #ff6767 !important;
}

div.itemEspecial:hover{
  opacity: 0.7;
}

div.itemEspecial{
	background-image: url('../img/especial.jpg');
}

div.itemEspecial p.advanced-background-title{
  color: #1f5bf2 !important;
}

div.itemMusica:hover{
  opacity: 0.7;
}

div.itemMusica{
	background-image: url('../img/musica.jpg');
}

div.itemMusica p.advanced-background-title{
  color: #7a7a7a !important;
}

.advanced-background {
  position: relative;
  text-align: center !important;
  margin-top: 5px !important;
  padding: 0;
}

p.advanced-background-title {
  position: absolute;
  top: 35%;
  font-size: 1.6em;
  width: 100%;
  font-weight: bold;
  overflow: visible;
  text-shadow: 2px 2px black;
  font-family: Custom;
}

p.advanced-background-title-large {
  top: 29%;
  font-weight: normal;
  font-size: 4.4em;

}

p.advanced-background-subtitle {
  font-size: 0.9em;
  position: absolute;
  top: 53%;
  width: 100%;
  color: white;
  text-shadow: 2px 2px black;
  font-family: Custom;
}

.itemcard {
	height: 200px;
}
/*Fin clases de los cards del home */

/*clases para ventana modal*/
.modalCustom{
  width: 80%;
  min-height: 40%;
  top: 15%; left: 10%;
  right: 10%;
  bottom: 20%;
}

.modalCustomConfirm{
  width: 80%;
  min-height: 20%;
  top: 15%; left: 10%;
  right: 10%;
  bottom: 20%;
}

.listatabs{
  margin-top: 40px;
  background-color: #fff5db;
  padding: 6px;
}

.mapa div{
  width: 100%;
  height: 250px;
}

.buttonServicio{
  float: left;
  border: solid #D80027 2px;
  border-radius: 5px;
  padding: 2px;
  margin: 3px;
}

div.gallery-view div.row{
  height: auto !important;
}

div.image-container{
  height: 120px;
  width: 120px;
}

div.image-container img{
  height: 100%;
  width: auto;

}
